<%- include("header"); -%>
<h1>AMPE</h1>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="all_vidoes.css" />
  </head>
  <body>
   

    <!--  -->
    <!-- the courses we offer  -->
    <section class="course">
      <div class="row">
        <div class="course-col">
          <p>
            <div class="main-video">
              <div class="video">
                <video src="/African_games/GAME11.mp4" controls
                autoplay
                ></video>
                <h3 class="title">AMPE</h3>
              </div>
            </div>  </p>
        </div>
        <div class="course-col">
          <h3>AMPE</h3>
          <p>Ampe is a high-energy game that combines physical activity, music, and dance, promoting overall well-being and joy. Players develop their coordination, balance, and cardiovascular endurance while having fun with friends. Ampe is an excellent way to stay active, socialize, and boost mental health.
           
          </p>
        </div>
      </div>
    </section>
    <!--  -->

    <p class="video-info">
      
        have been able to contribute to the sustainable development and have
        had a greater impact on other have been able to contribute to the
        sustainable development and have had a greater impact on otherhave
        been able to contribute to the sustainable development and have had
        a greater impact on otherhave been able to contribute to the
        sustainable development and have had a greater impact on otherhave
        been able to contribute to the sustainable development and have had
        a greater impact on other have been able to contribute to the
        sustainable development and have had a greater impact on otherhave
        been able to contribute to the sustainable development and have had
        a greater impact on otherhave been able to contribute to the
        sustainable development and have had a greater impact on otherhave
        been able to contribute to the sustainable development and have had
        a greater impact on other have been able to contribute to the
        sustainable development and have had a greater impact on otherhave
        been able to contribute to the sustainable development and have had
        a greater impact on otherhave been able to contribute to the
        sustainable development and have had a greater impact on other
      
      have been able to contribute to the sustainable development and have had a
      greater impact on other have been able to contribute to the sustainable
      development and have had a greater impact on otherhave been able to
      contribute to the sustainable development and have had a greater impact on
      otherhave been able to contribute to the sustainable development and have
      had a greater impact on otherhave been able to contribute to the
      sustainable development and have had a greater impact on other have been
      able to contribute to the sustainable development and have had a greater
      impact on otherhave been able to contribute to the sustainable development
      and have had a greater impact on otherhave been able to contribute to the
      sustainable development and have had a greater impact on otherhave been
      able to contribute to the sustainable development and have had a greater
      impact on other have been able to contribute to the sustainable
      development and have had a greater impact on otherhave been able to
      contribute to the sustainable development and have had a greater impact on
      otherhave been able to contribute to the sustainable development and have
      had a greater impact on other
    </p> 

    <script src="function.js"></script>
  </body>
</html>

<%- include("footer"); -%>
