<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>STS</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
   

    
  <section class="sts_videos">
    <!--  -->
    <section class="header">
     
<!--    
      <nav>
        <a href="index.html"><img src="cul_images/UENR.jpeg" alt="" /></a>
        <div class="nav-link">
          <ul>
            <i class="fa fa-4x"></i>
            <li><a href="/VSCode/dances.html">DANCE </a></li>
            <li><a href="/VSCode/games.html">Games</a></li>
    
            <li><a href="/VSCode/pictures.html">PICTURES</a></li>
          </ul>
        </div>  
        <i class="fa fa-bars"></i>
      </nav> -->
    </section>
    <!--  -->
     
    
    <h1>TRADITIONAL DANCES</h1>
    <div class="containter">
      <div class="main-video">
        <div class="video">
          <video
            src="videos/Akon_-_Lonely(720p).mp4"
            controls
          ></video>
          <h3 class="title">AKON LONELY 1</h3>
        </div>
      </div>

      <div class="video-listed">
        <div class="vid active">
          <video
            src="videos/Akon_-_Lonely(720p).mp4"
            muted
            loop
            ></video>
          <h3 class="title">AKON LONELY</h3>
        </div>
        <div class="vid">
          <video
            src="videos/Amazing_Kassena_Cultural_Dance_of_Navrongo_and_Paga(720p).mp4"
            muted
          ></video>
          <h3 class="title">KASSENA DANCE OF NAVORONGO</h3>
        </div>
        <div class="vid">
          <video
            src="videos/GHANAIAN_CULTURE__Adowa_dance(720p).mp4"
            muted
          ></video>
          <h3 class="title">ADOWA DANCE BY AKANS</h3>
        </div>
        <div class="vid">
          <video
            src="videos/Kete_dance_performance(1080p).mp4"
            muted
          ></video>
          <h3 class="title">KETE DANCE BY ASHANTI</h3>
        </div>
        <div class="vid">
          <video
            src="videos/Nagla,_a_rich_cultural_dance_by_Kasena_people_of_Navrongo_in_Upper_East_region_of_Ghana(240p).mp4"
            muted
          ></video>
          <h3 class="title">NAGLA DANCE BY KASSENA</h3>
        </div>
        <div class="vid">
          <video
            src="videos/Nagla_dance_from_the_people_of_Upper_East_Region__paga_(480p).mp4"
            muted
          ></video>
          <h3 class="title">NAGLA DANCE 2</h3>
        </div>
        <div class="vid">
          <video
            src="videos/Must_Watch_Little_Girl_Dancing_Adowa__Worderful_Dance_(720p).mp4"
            muted
          ></video>
          <h3 class="title">ADOWA DANCE 2</h3>
        </div>
        <div class="vid">
          <video
            src="videos/Rudeboy_-_Double_Double_[Official_Video]_ft._Olamide,_Phyno(720p).mp4"
            muted
          ></video>
          <h3 class="title">video 8</h3>
        </div>
        <div class="vid">
          <video
            src="videos/Vovome_-_Ewe_Praise_Medley__-_ft._Joe_Mettle-Bethel_Revival_Choir(720p).mp4"
            muted
          ></video>
          <h3 class="title">video 9</h3>
        </div>
        <div class="vid">
          <video
            src="videos/Diana_Hamilton__AWURADE_YE__DO_IT_LORD___Official_Music_Video(136).mp4"
            muted
          ></video>
          <h3 class="title">video 10</h3>
        </div>
      </div>
    </div>
  </div>
</div>
  </section>
    <section class="course">
    <h1>AWARDS</h1>

    <div class="row">
      <div class="course-col">
        <h3>LAZZY BWOY</h3>
        <p>
          have been able to contribute to the sustainable development and have
          had a greater impact on other have been able to contribute to the
          sustainable development and have had a greater impact on otherhave
          been able to contribute to the sustainable development and have had
          a greater impact on otherhave been able to contribute to the
          sustainable development and have had a greater impact on other
        </p>
      </div>
      <div class="course-col">
        <h3>LATTY BWOY</h3>
        <p>
          have been able to contribute to the sustainable development and have
          had a greater impact on otherhave been able to contribute to the
          sustainable development and have had a greater impact on otherhave
          been able to contribute to the sustainable development and have had
          a greater impact on otherhave been able to contribute to the
          sustainable development and have had a greater impact on other
        </p>
      </div>
      <div class="course-col">
        <h3>RAGGA</h3>
        <p>
          have been able to contribute to the sustainable development and have
          had a greater impact on other have been able to contribute to the
          sustainable development and have had a greater impact on other
        </p>
      </div>
    </div>
    <section class="testimonials">
      <h1>OUR SUPPOTERS</h1>

      <div class="row">
        <div class="testimonials-col">
          <img src="images/fine girl.jpg" alt="" />
          <div>
            <p>
              have been able to contribute to the sustainable development and
              have had a greater impact on other have been able to contribute to
              the sustainable development and have had a greater impact on other
            </p>
            <h3>Christine Berley</h3>
          </div>
        </div>
        <div class="testimonials-col">
          <img src="images/Becky.jpg" alt="" />
          <div>
            <p>
              have been able to contribute to the sustainable development and
              have had a greater impact on other have been able to contribute to
              the sustainable development and have had a greater impact on other
            </p>
            <h3>David Byer</h3>
          </div>
        </div>
      </div>
    </section>

    

    <script src="function.js"></script>
  </body>
</html>


<%- include("footer"); -%>