<section class="contact-us"><h3>CONTACT US</h3></section>
<div class="main-footer">
  <div class="foot">
    <i class="fa-brands fa-instagram"></i> @ <br />
    <div>nasaipin pius</div>
    <br />
    <i class="fa-brands fa-twitter"></i> @ <br />
    <div>nasaipin</div>
  </div>
  <div class="foot">
    <i class="fa-brands fa-facebook"></i> @ <br />
    <div>nasaipin pius</div>
    <br />
    <i class="fa-brands fa-linkedin"></i> @ <br />
    <div>nasaipin</div>
  </div>
  <div class="foot">
    <i class="fa-brands fa-linkedin"></i> @ <br />
    <div>Eliakim Wedam Kubirizigah</div>
    <br />
    <i class="fa-brands fa-envelop"></i> @ <br />
    <div>eliwedamk</div>
  </div>
</div>
