<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <nav>
      <a href=""><img src="cul_images/UENR.jpeg" alt="" /></a>
      <div class="nav-link">
        <ul>
          <i class="fa fa-4x"></i>

          <li><a href="/about">HOME</a></li>
          <li><a href="/">VIDEOS </a></li>
          <!-- <li><a href="/contact">CONTACT</a></li> -->
        </ul>
      </div>
    </nav>
  </body>
</html>

<!--  -->
