<%- include("header"); -%>
<h1>ANTOAKYIERE</h1>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="all_vidoes.css" />
  </head>
  <body>
   

    <!--  -->
    <!-- the courses we offer  -->
    <section class="course">
      <div class="row">
        <div class="course-col">
          <p>
            <div class="main-video">
              <div class="video">
                <video src="/African_games/GAME4.mp4" controls autoplay></video>
                <h3 class="title">ANTOAKYIERE</h3>
              </div>
            </div>  </p>
        </div>
        <div class="course-col">
          <h3>ANTOAKYIERE</h3>
          <p>Antoakyire (SDG 5: Gender Equality)

            Antoakyire is a traditional Akan folk game that breaks down gender barriers, promoting inclusivity and equal participation for all. This game teaches valuable lessons in teamwork, communication, and mutual respect, helping to bridge the gender gap and foster a culture of equality.
            
          </p>
        </div>
      </div>
    </section>
    <!--  -->

    <p class="video-info">
      
        have been able to contribute to the sustainable development and have
        had a greater impact on other have been able to contribute to the
        sustainable development and have had a greater impact on otherhave
        been able to contribute to the sustainable development and have had
        a greater impact on otherhave been able to contribute to the
        sustainable development and have had a greater impact on otherhave
        been able to contribute to the sustainable development and have had
        a greater impact on other have been able to contribute to the
        sustainable development and have had a greater impact on otherhave
        been able to contribute to the sustainable development and have had
        a greater impact on otherhave been able to contribute to the
        sustainable development and have had a greater impact on otherhave
        been able to contribute to the sustainable development and have had
        a greater impact on other have been able to contribute to the
        sustainable development and have had a greater impact on otherhave
        been able to contribute to the sustainable development and have had
        a greater impact on otherhave been able to contribute to the
        sustainable development and have had a greater impact on other
      
      have been able to contribute to the sustainable development and have had a
      greater impact on other have been able to contribute to the sustainable
      development and have had a greater impact on otherhave been able to
      contribute to the sustainable development and have had a greater impact on
      otherhave been able to contribute to the sustainable development and have
      had a greater impact on otherhave been able to contribute to the
      sustainable development and have had a greater impact on other have been
      able to contribute to the sustainable development and have had a greater
      impact on otherhave been able to contribute to the sustainable development
      and have had a greater impact on otherhave been able to contribute to the
      sustainable development and have had a greater impact on otherhave been
      able to contribute to the sustainable development and have had a greater
      impact on other have been able to contribute to the sustainable
      development and have had a greater impact on otherhave been able to
      contribute to the sustainable development and have had a greater impact on
      otherhave been able to contribute to the sustainable development and have
      had a greater impact on other
    </p> 

    <script src="function.js"></script>
  </body>
</html>

<%- include("footer"); -%>
