<%- include("header"); -%>
<h1>SANSANKROMA</h1>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="all_vidoes.css" />
  </head>
  <body>
   

    <!--  -->
    <!-- the courses we offer  -->
    <section class="course">
      <div class="row">
        <div class="course-col">
          <p>
            <div class="main-video">
              <div class="video">
                <video src="/African_games/GAME7.mp4" controls autoplay></video>
                <h3 class="title">SANSANKROMA</h3>
              </div>
            </div>  </p>
        </div>
        <div class="course-col">
          <h3>SANSANKROMA</h3>
          <p> Sansankroma (SDG 4: Quality Education)

            Sansankroma is a captivating storytelling game that teaches cultural heritage, social interaction, and language skills. Players develop their communication abilities, learn valuable lessons from traditional tales, and foster a sense of community, contributing to quality education and cultural preservation.
            
          </p>
        </div>
      </div>
    </section>
    <!--  -->

    <p class="video-info">
      
        have been able to contribute to the sustainable development and have
        had a greater impact on other have been able to contribute to the
        sustainable development and have had a greater impact on otherhave
        been able to contribute to the sustainable development and have had
        a greater impact on otherhave been able to contribute to the
        sustainable development and have had a greater impact on otherhave
        been able to contribute to the sustainable development and have had
        a greater impact on other have been able to contribute to the
        sustainable development and have had a greater impact on otherhave
        been able to contribute to the sustainable development and have had
        a greater impact on otherhave been able to contribute to the
        sustainable development and have had a greater impact on otherhave
        been able to contribute to the sustainable development and have had
        a greater impact on other have been able to contribute to the
        sustainable development and have had a greater impact on otherhave
        been able to contribute to the sustainable development and have had
        a greater impact on otherhave been able to contribute to the
        sustainable development and have had a greater impact on other
      
      have been able to contribute to the sustainable development and have had a
      greater impact on other have been able to contribute to the sustainable
      development and have had a greater impact on otherhave been able to
      contribute to the sustainable development and have had a greater impact on
      otherhave been able to contribute to the sustainable development and have
      had a greater impact on otherhave been able to contribute to the
      sustainable development and have had a greater impact on other have been
      able to contribute to the sustainable development and have had a greater
      impact on otherhave been able to contribute to the sustainable development
      and have had a greater impact on otherhave been able to contribute to the
      sustainable development and have had a greater impact on otherhave been
      able to contribute to the sustainable development and have had a greater
      impact on other have been able to contribute to the sustainable
      development and have had a greater impact on otherhave been able to
      contribute to the sustainable development and have had a greater impact on
      otherhave been able to contribute to the sustainable development and have
      had a greater impact on other
    </p> 

    <script src="function.js"></script>
  </body>
</html>

<%- include("footer"); -%>
