<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>STS</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="/public/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <section class="sts_videos">
      <!--  -->
      <section class="header">
        <!--    
     
       -->
      </section>
      <!--  -->

      <h1>TRADITIONAL DANCES</h1>
      <div class="containter">
        <div class="main-video">
          <div class="video">
            <video
              src="/videos/Kete_dance_performance(1080p).mp4"
              loop
              autoplay
              muted
            ></video>
            <h3 class="title">AFRICAN DANCES</h3>
          </div>
        </div>

        <div class="video-listed">
          <a href="/akon_video">
            <div class="vid active">
              <video src="/African_games/GAME11.mp4" muted loop></video>
              <h3 class="title">AMPE</h3>
            </div>
          </a>

          <div class="">
            <a href="/Kassena">
              <div class="vid active">
                <video src="/African_games/GAME6.mp4" muted loop></video>
                <h3 class="title">BAABAABAMLIYA</h3>
              </div>
            </a>
            <!-- 
        <div class="vid"></a>
          
          <h3 class="title" >
          <video
            src="/public/videos/Kete_dance_performance(1080p).mp4"
            muted
          ></video>
          <h3 class="title">KASSENA DANCE OF NAVORONGO</h3>
        </div> -->

            <!--  -->

            <div class="">
              <a href="/Adowa">
                <div class="vid active">
                  <video src="/African_games/GAME1.mp4" muted loop></video>
                  <h3 class="title">OWARE</h3>
                </div>
              </a>
              <!--  -->
              <a href="/kete">
                <div class="vid">
                  <video src="/African_games/GAME2.mp4" muted></video>
                  <h3 class="title">BAABAABAMLIYA</h3>
                </div>
              </a>

              <a href="/nagla">
                <div class="vid">
                  <video src="/African_games/GAME4.mp4" muted></video>
                  <h3 class="title">ANTOAKYIERE</h3>
                </div>
              </a>

              <a href="/nagla2">
                <div class="vid">
                  <video src="/African_games/GAME5.mp4" muted></video>
                  <h3 class="title">MA TE MA TE</h3>
                </div>
              </a>

              <a href="/rudeboy">
                <div class="vid">
                  <video src="/African_games/GAME8.mp4"></video>
                  <h3 class="title">SANSANKROMA</h3>
                </div>
              </a>

              <a href="/vovome">
                <div class="vid">
                  <video src="/African_games/GAME9.mp4"></video>
                  <h3 class="title">ANTOAKYIERE</h3>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- <section class="course">
    <h1>AWARDS</h1>

    <div class="row">
      <div class="course-col">
        <h3>LAZZY BWOY</h3>
        <p>
          have been able to contribute to the sustainable development and have
          had a greater impact on other have been able to contribute to the
          sustainable development and have had a greater impact on otherhave
          been able to contribute to the sustainable development and have had
          a greater impact on otherhave been able to contribute to the
          sustainable development and have had a greater impact on other
        </p>
      </div>
      <div class="course-col">
        <h3>LATTY BWOY</h3>
        <p>
          have been able to contribute to the sustainable development and have
          had a greater impact on otherhave been able to contribute to the
          sustainable development and have had a greater impact on otherhave
          been able to contribute to the sustainable development and have had
          a greater impact on otherhave been able to contribute to the
          sustainable development and have had a greater impact on other
        </p>
      </div>
      <div class="course-col">
        <h3>RAGGA</h3>
        <p>
          have been able to contribute to the sustainable development and have
          had a greater impact on other have been able to contribute to the
          sustainable development and have had a greater impact on other
        </p>
      </div>
    </div>
    <section class="testimonials">
      <h1>OUR SUPPOTERS</h1>

      <div class="row">
        <div class="testimonials-col">
          <img src="images/fine girl.jpg" alt="" />
          <div>
            <p>
              have been able to contribute to the sustainable development and
              have had a greater impact on other have been able to contribute to
              the sustainable development and have had a greater impact on other
            </p>
            <h3>Christine Berley</h3>
          </div>
        </div>
        <div class="testimonials-col">
          <img src="images/Becky.jpg" alt="" />
          <div>
            <p>
              have been able to contribute to the sustainable development and
              have had a greater impact on other have been able to contribute to
              the sustainable development and have had a greater impact on other
            </p>
            <h3>David Byer</h3>
          </div>
        </div>
      </div>
    </section> -->
    <script src="/function.js"></script>
  </body>
</html>
